@include mq("desktop", max) {
	.decor {
		height: auto;
		min-height: 1300px;
		flex-flow: column;
		.decor-item {
			width: 100%;}
		.decor-item:first-of-type {
			height: 400px;
			h2:after { width: 700px; line-height: 100px;}
		}
		.decor-item:nth-of-type(2) {
			height: 300px;
		}
		.decor-item:nth-of-type(3) {
			height: 600px;
			.up, .down {
				height: 300px;}
		}
		.comma-block p:before {bottom: -30px;}
	}
}