@include mq("desktop", max) {
	.decor {
		height: auto;
		min-height: 1300px;
		flex-flow: column;
		.white,
		.furniture,
		.right-block {
			width: 100%;}
		.white {
			height: 400px;
			h2:after { width: 700px; line-height: 100px;}
		}
		.furniture {
			height: 300px;
		}
		.right-block {
			height: 600px;
			.up, .down {
				height: 300px;}
		}
		.comma-block p:before {bottom: -30px;}
	}
}