.decor {
	font-size: 1.375rem;
	height: 80vh;
	display: flex;
	flex-flow: row wrap;
	min-height: 800px;
	.decor-item {
		height: 100%;
		width: 33.3%;}
	.decor-item:first-of-type {
		@extend .white-block;
		background-color: white;
		overflow: hidden;
		h2 {
			&:after {
				line-height: 70px; 
				width: 400px;
				top: -30px;}
		}
	}
	.decor-item:nth-of-type(2) {
		@extend .shop-block;
		background:transparent url('../img/decor/middle.jpg') center/cover no-repeat;
		.upperline {color: black; &:before{border-color: black;}}
	}
	.decor-item:nth-of-type(3) {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.up, .down {
			height: 50%; 
			
		}
		.up {
			@extend .shop-block;
			background: transparent url('../img/decor/pink.jpg') center/cover no-repeat;
			color: white;
			width: 100%;}
		.down {
			@extend .comma-block;

		}
	}
}
@import "_media-decor";