.decor {
	font-size: 1.375rem;
	height: 80vh;
	display: flex;
	flex-flow: row wrap;
	min-height: 800px;
	
	.white,
	.furniture,
	.right-block
	 {
		height: 100%;
		width: 33.3%;}
	.white {
		@extend .white-block;
		overflow: hidden;
		h2 {
			&:after {
				line-height: 70px; 
				width: 400px;
				top: -30px;}
		}
	}
	.furniture {
		@extend .shop-block;
		@include bg-image("decor/middle.jpg");
		.upperline {color: black; &:before{border-color: black;}}
	}
	.right-block {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.up, .down {
			height: 50%; }
		.up {
			@extend .shop-block;
			@include bg-image("decor/pink.jpg");
			color: white;
			width: 100%;}
		.down {
			@extend .comma-block;}
	}
}
@import "_media-decor";