@charset "UTF-8";
div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, span {
  cursor: default; }

html {
  line-height: 1.4;
  font-size: 16px;
  font-family: Georgia, sans-serif; }

@font-face {}
h2 {
  position: relative;
  font-size: 3.75rem;
  font-weight: 400;
  z-index: 5;
  padding-bottom: 50px; }
  h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    border-bottom: 2px solid black;
    width: 115px; }
  h2:after {
    color: #d8c280;
    position: absolute;
    left: -5px;
    top: -65px;
    z-index: -1;
    content: " ";
    font-size: 7.5rem;
    font-weight: 300;
    font-style: italic;
    opacity: 0.3; }

.container {
  width: 80%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }

h3 {
  position: relative;
  font-size: 3rem;
  font-weight: 300;
  text-align: center; }

.upperline {
  position: relative;
  width: 150px;
  text-align: center;
  color: white;
  padding-top: 40px;
  font-size: 1.5rem; }
  .upperline:before {
    content: "";
    position: absolute;
    top: 22px;
    left: 55px;
    width: 50px;
    border-top: 2px solid white; }

@media screen and (max-width: 1023px) {
  p {
    font-size: 1rem; }

  h2 {
    font-size: 2.5rem; }

  h2:after {
    font-size: 4.2rem;
    top: -30px; }

  h3 {
    font-size: 1.5rem; }

  .upperline {
    font-size: 1rem; } }
.header {
  height: 100vh;
  background: url("../img/header/main-logo.png") center no-repeat, url("../img/header/logo-small.png") 50% 95% no-repeat, url("../img/header/logs.jpg") left top no-repeat;
  background-size: 50%, 7%, cover;
  display: flex;
  align-items: center;
  justify-content: space-around; }

@media screen and (max-width: 767px) {
  .header {
    background-size: 80%, 30%, cover; } }
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .header {
    background-size: 50%, 10%, cover; } }
.review {
  height: 100vh;
  min-height: 800px;
  flex-flow: row wrap;
  display: flex;
  font-size: 1.375rem; }
  .review .review-item {
    position: relative;
    width: 50%;
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .review .review-item h2, .review .review-item p {
      position: relative;
      z-index: 5; }
    .review .review-item p {
      padding-bottom: 20px; }
  .review .left {
    background-color: #fff1bf; }
    .review .left h2:after {
      content: "Что это";
      color: #d8c280; }
  .review .right {
    color: #fff1bf;
    background: transparent url("../img/review/location.png") center no-repeat;
    background-size: cover; }
    .review .right h2:before {
      border-color: #fff1bf; }
    .review .right h2:after {
      content: "Где";
      color: #766849; }
    .review .right p {
      font-size: 2em;
      padding-top: 170px; }
    .review .right a {
      text-decoration: none;
      font-size: 2em;
      cursor: default;
      color: #fff1bf; }
  .review .bottom {
    width: 100%;
    background-color: #fffcf3;
    height: 30%; }
    .review .bottom .container {
      width: 450px;
      justify-content: center; }
    .review .bottom p {
      font-style: italic;
      text-align: center; }
    .review .bottom .container:before {
      position: absolute;
      content: "";
      width: 115px;
      border: 1px solid black;
      left: 38%;
      bottom: 0px; }
    .review .bottom .container:after {
      position: absolute;
      top: 40%;
      left: -40px;
      opacity: 0.3;
      content: "“";
      z-index: 1;
      line-height: 0;
      font-size: 240px;
      color: #eedfb3; }

@media screen and (max-width: 1023px) {
  .review {
    height: auto;
    font-size: 1rem; }
    .review .review-item {
      padding: 100px 0;
      width: 100%;
      height: auto; }
    .review .container {
      width: 90%;
      height: auto; }
    .review .right {
      font-size: 0.9rem;
      background-position: 70%;
      background-size: cover; }
    .review .bottom .container {
      width: 300px; }
    .review .bottom .container:before {
      left: 30%;
      bottom: -20px; }
    .review .bottom .container:after {
      top: 35%; } }
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .review .review-item h2:after {
    font-size: 6rem;
    top: -40px; }

  .review .bottom .container:after {
    font-size: 240px; } }
.houses {
  height: 160vh;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.375rem; }
  .houses .house-block {
    width: 50%;
    height: 80%; }
  .houses .left .up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%; }
    .houses .left .up h2 {
      padding-bottom: 40px; }
      .houses .left .up h2:after {
        content: "Готовые";
        color: #d8c280; }
  .houses .left .down {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    background: transparent url("../img/houses/img-left.jpg") center no-repeat;
    background-size: 100% 100%; }
    .houses .left .down .container {
      height: 50%;
      width: 40%;
      align-items: center; }
    .houses .left .down h3 {
      color: white; }
      .houses .left .down h3:before {
        border-color: white; }
  .houses .right .up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    background: transparent url("../img/houses/img-right.jpg") center no-repeat;
    background-size: 100% 100%; }
    .houses .right .up .container {
      height: 50%;
      width: 40%;
      align-items: center; }
    .houses .right .up h3 {
      color: white; }
      .houses .right .up h3:before {
        border-color: white; }
  .houses .right .down {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden; }
    .houses .right .down h2 {
      padding-bottom: 40px; }
      .houses .right .down h2:after {
        content: "Проектирование";
        color: #d8c280; }
    .houses .right .down p {
      padding-bottom: 10px;
      width: 90%; }
  .houses .bottom {
    width: 100%;
    background-color: #fffcf3;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .houses .bottom .container {
      width: 380px;
      height: 30%;
      justify-content: center; }
    .houses .bottom p {
      font-style: italic;
      text-align: center; }
    .houses .bottom .container:before {
      position: absolute;
      content: "";
      width: 115px;
      border: 1px solid black;
      left: 35%;
      bottom: -20px; }
    .houses .bottom .container:after {
      position: absolute;
      top: 40%;
      left: -40px;
      opacity: 0.3;
      content: "“";
      z-index: 1;
      line-height: 0;
      font-size: 240px;
      color: #eedfb3; }

@media screen and (max-width: 767px) {
  .houses {
    height: auto;
    flex-flow: column;
    font-size: 1rem;
    border: 1px solid red; }
    .houses .house-block {
      width: 100%; }
    .houses .container {
      justify-content: center; }
    .houses .left {
      height: 600px; }
      .houses .left .up {
        height: 300px; }
      .houses .left .down {
        height: 300px;
        background-size: cover; }
        .houses .left .down .container {
          width: 100%; }
    .houses .right {
      height: 700px;
      display: flex;
      flex-direction: column-reverse; }
      .houses .right .up {
        height: 300px; }
        .houses .right .up .container {
          width: 100%; }
      .houses .right .down {
        height: 400px;
        background-size: cover; }
        .houses .right .down h2 {
          font-size: 2.2rem; }
    .houses .bottom {
      height: 250px; } }
.inhouse {
  height: 80vh;
  min-height: 600px;
  display: flex; }
  .inhouse .inhouse-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33.3%;
    height: 100%; }
  .inhouse .left {
    background: transparent url("../img/inhouse-facilities/left.jpg") left top no-repeat;
    background-size: 100% 100%; }
  .inhouse .middle {
    background: transparent url("../img/inhouse-facilities/middle.jpg") left top no-repeat;
    background-size: 100% 100%;
    color: white; }
    .inhouse .middle .upperline {
      color: white; }
      .inhouse .middle .upperline:before {
        border-color: white; }
  .inhouse .right {
    background: transparent url("../img/inhouse-facilities/right.jpg") left top no-repeat;
    background-size: 100% 100%;
    color: black; }
  .inhouse .container {
    justify-content: center;
    align-items: center; }
  .inhouse .upperline {
    color: black; }
    .inhouse .upperline:before {
      border-color: black; }

@media screen and (max-width: 767px) {
  .inhouse {
    height: auto;
    flex-direction: column; }
    .inhouse .inhouse-block {
      width: 100%;
      height: 400px; } }
.area {
  height: 180vh;
  min-height: 1200px;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.375rem; }
  .area .area-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%; }
  .area .area-block:first-of-type {
    flex-grow: 1;
    order: 1;
    background-color: white;
    height: 30%; }
    .area .area-block:first-of-type h2:after {
      content: "Участок"; }
    .area .area-block:first-of-type p {
      padding-top: 20px;
      width: 90%; }
  .area .area-block:nth-of-type(2) {
    order: 2;
    background: transparent url("../img/about-area/green.jpg") center no-repeat;
    background-size: 100% 100%;
    height: 25%;
    color: white; }
    .area .area-block:nth-of-type(2) .container {
      align-items: center;
      width: 40%; }
  .area .area-block:nth-of-type(3) {
    order: 3;
    color: white;
    background: transparent url("../img/about-area/blue.jpg") left top no-repeat;
    background-size: 100% 100%;
    height: 25%; }
    .area .area-block:nth-of-type(3) .container {
      align-items: center;
      width: 40%; }
  .area .area-block:nth-of-type(4) {
    order: 5;
    background-color: #fffcf3;
    height: 25%; }
    .area .area-block:nth-of-type(4) p {
      font-style: italic;
      text-align: center; }
    .area .area-block:nth-of-type(4) .container {
      width: 380px;
      height: 30%; }
    .area .area-block:nth-of-type(4) .container:before {
      position: absolute;
      content: "";
      width: 115px;
      border: 1px solid black;
      left: 35%;
      bottom: -20px; }
    .area .area-block:nth-of-type(4) .container:after {
      position: absolute;
      top: 40%;
      left: -40px;
      opacity: 0.3;
      content: "“";
      z-index: 1;
      line-height: 0;
      font-size: 240px;
      color: #eedfb3; }
  .area .area-block:nth-of-type(5) {
    order: 6;
    color: white;
    background: transparent url("../img/about-area/clay.jpg") left top no-repeat;
    background-size: 100% 100%;
    height: 55%; }
    .area .area-block:nth-of-type(5) .container {
      align-items: center;
      width: 40%; }

@media screen and (max-width: 767px) {
  .area {
    min-height: 2000px;
    flex-flow: column nowrap; }
    .area .area-block {
      width: 100%; }
    .area .area-block:nth-of-type(2) .container {
      width: 100%; }
    .area .area-block:nth-of-type(3) .container {
      width: 90%; }
    .area .area-block:nth-of-type(4) {
      order: -1; }
      .area .area-block:nth-of-type(4) .container {
        width: 90%;
        height: 20%; }
    .area .area-block:last-of-type {
      max-height: 400px; } }
.decor {
  height: 80vh;
  display: flex;
  flex-flow: row wrap; }
  .decor .decor-item {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .decor .container {
    justify-content: space-around;
    align-items: center; }
  .decor .decor-item:first-of-type {
    background-color: white;
    overflow: hidden;
    height: 100%;
    width: 33.3%; }
    .decor .decor-item:first-of-type .container {
      height: 40%; }
    .decor .decor-item:first-of-type p {
      padding-top: 10px; }
    .decor .decor-item:first-of-type h2:after {
      content: "Мебель и  декор";
      line-height: 90px;
      width: 500px;
      top: -30px; }
  .decor .decor-item:nth-of-type(2) {
    background: transparent url("../img/decor/middle.jpg") left top no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 33.3%; }
    .decor .decor-item:nth-of-type(2) .container {
      height: 20%; }
    .decor .decor-item:nth-of-type(2) .upperline {
      color: black; }
      .decor .decor-item:nth-of-type(2) .upperline:before {
        border-color: black; }
  .decor .decor-item:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.3%; }
    .decor .decor-item:nth-of-type(3) .container {
      height: 50%; }
    .decor .decor-item:nth-of-type(3) .up, .decor .decor-item:nth-of-type(3) .down {
      height: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    .decor .decor-item:nth-of-type(3) .up {
      background: transparent url("../img/decor/pink.jpg") left top no-repeat;
      background-size: cover;
      color: white;
      width: 100%; }
    .decor .decor-item:nth-of-type(3) .down .container {
      width: 200px;
      height: 30%;
      justify-content: center; }
    .decor .decor-item:nth-of-type(3) .down p {
      font-style: italic;
      text-align: center; }
    .decor .decor-item:nth-of-type(3) .down .container:before {
      position: absolute;
      content: "";
      width: 115px;
      border: 1px solid black;
      left: 23%;
      bottom: -20px; }
    .decor .decor-item:nth-of-type(3) .down .container:after {
      position: absolute;
      top: 40%;
      left: -40px;
      opacity: 0.3;
      content: "“";
      z-index: 1;
      line-height: 0;
      font-size: 240px;
      color: #eedfb3; }
