@include mq("tablet-wide", max) {
	.relaxation {
		height: auto;
		min-height: 1000px;
		.bathhouse,
		.white,
		.bbq,
		.playground,
		.comma {
			width: 100%;
			height: 400px;
		}
		.bathhouse {height: 300px;}
		.white {height: 500px; p {width: 100%;}}
		.bbq {height: 200px;}
		.playground {height: 200px;}
		.comma {height: 200px;}
		.comma-block p:before {bottom: -30px;}
	}
}