.relaxation {
	height: 130vh;
	min-height: 1200px;
	display: flex;
	flex-flow: column wrap;
	font-size: 1.375rem;

	.bathhouse,
	.white,
	.bbq,
	.playground,
	.comma { 
		width: 50%;}

	.bathhouse {
		@extend .shop-block;
		color: white;
		background:transparent url('../img/relaxation/bathhouse.jpg') center/cover no-repeat;
		height: 30%;}

	.white {
		@extend .white-block;
		overflow: hidden;
		height: 40%;
		h2:after {content:""attr(data-text)""; width: 1500px;}
	}

	.bbq {
		@extend .shop-block;
		color: white;
		background:transparent url('../img/relaxation/bbq.jpg') center/cover no-repeat;
		height: 30%;}

	.playground {
		@extend .shop-block;
		color: white;
		background:transparent url('../img/relaxation/playground.jpg') center/cover no-repeat;
		height: 70%;}

	.comma {
		@extend .comma-block;
		overflow: hidden;
		background-color: $comma-bg;
		height: 30%;}
}

@import "_media-relaxation.scss";