@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	h2 {font-size: 2.7rem;} 
	h2:after {font-size: 6rem; top: -50px; }
}

@include mq("tablet-wide", max) {
	p {font-size: 1rem;}
	h2 {font-size: 2.5rem;} 
	h2:after {font-size: 4.2rem; top: -30px;}
	h3 {font-size: 1.5rem;}
	.upperline {font-size: 1rem;}
	.comma-block p { 
		width: 300px;
		&:before {left: 90px; bottom: -60px;}
		&:after {left: 0;}
	}
	.comma-block:after {left: 0;}
}
