h2 {
	position: relative;

	font-size: 3.75rem;

	&:before {
		content: "";
		position: absolute;
		left:0;
		top: 90px;
		border-bottom: 2px solid black;
		width: 115px;
	}
	&:after {
		position: absolute;
		left: -5px;
		top: -60px;
		z-index: -1;
		content:"";
		font-size: 7.5rem;
		font-family: Georgia, sans-serif;
		font-weight: 300;
		font-style: italic;
		opacity: 0.3;
	}
}
.container {
	width: 80%;
	height: 70%;
	position: relative;

	display: flex;
	flex-direction: column;
}