div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, span {
	cursor: default;
}
html {
	line-height: 1.4;
	font-size: 16px;
	font-family: Lato, Georgia;
}
body {
	max-width: 2000px;
	background-color: #fffcf3;
	margin: 0 auto;
}

@import "UI/fonts";
@import "UI/color";
@import "mixins";
@import "main-style", "_media-main-style";


@import "header/header", "header/_media-header";
@import "review/review", "review/_media-review";
@import "houses/houses", "houses/_media-houses";
@import "inhouse-facilities/inhouse-facilities", "inhouse-facilities/_media-inhouse-facilities";
@import "about-area/area", "about-area/_media-about-area";
@import "decor/decor", "decor/_media-decor";
@import "relaxation/relaxation", "relaxation/_media-relaxation";
@import "footer/footer.scss", "footer/_media-footer";