.white-block {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
	p { padding-bottom: 20px;}
}

.shop-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;}


h2 {
	position  : relative;
	font-size : 3.75rem;
	font-weight: 400;
	z-index: 5;
	padding-bottom: 50px;

	&:before {
		content       : "";
		position      : absolute;
		left          : 0;
		bottom: 30px;
		border-bottom : 2px solid black;
		width         : 115px;}

	&:after {
		color: #d8c280;
		position    : absolute;
		left        : -5px;
		top         : -65px;
		z-index     : -1;
		content     : " ";
		font-size   : 7.5rem;
		font-weight : 300;
		font-style  : italic;
		opacity     : 0.3;}
}

.comma-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	p {
		position: relative;
		font-size: 1.375rem;
		font-style: italic;
		text-align: center;
		width : 380px;
		height : 70px;
	&:before {
			position : absolute;
			content  : "";
			width    : 115px;
			border-bottom   : 2px solid black;
			left     : 130px;
			bottom   : -30px;}
	&:after {
			font-style: italic;
			position    : absolute;
			top         : 40%;
			left        : -46px;
			content     : "“";
			z-index     : 1;
			line-height : 0;
			font-size   : 240px;
			color       : #f5ebce;}
	}
}
h3 {
	position: relative;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
}
.upperline {
	position: relative;
	width: 150px;
	text-align: center;
	color: white;
	padding-top: 40px;
	font-size: 1.5rem;
	&:before {
		content: "";
		position: absolute;
		top: 22px;
		left: 55px;
		width: 50px;
		border-top: 2px solid white;
	}

}
@import "_media-main-style";
