div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, span {
	cursor: default;
}
html {
	line-height: 1.4;
	font-size: 16px;
	font-family: Georgia, sans-serif;
}

@import "UI/fonts";
@import "UI/color";
@import "mixins";
@import "main-style.scss";


@import "header/header";
@import "review/review.scss";
@import "houses/houses.scss";
@import "inhouse-facilities/inhouse-facilities";