.relaxation
	.bathhouse
		h3 Товары для бани и сауны
		p.upperline
			| 2 магазина
	.white
		h2(data-name="Место для отдыха") Место для отдыха
		p
			| Товары для шикарного отдыха и тихого дачного счастья. Более 10 магазинов, чтобы выбрать беседку для дачи, купить гриль и обустроить двор.
		p
			| Узнайте у консультантов, какой гриль лучше работает на открытов воздухе
	.bbq
		h3 Грили
		p.upperline
			| 6 магазинов
	.playground
		h3 Детские батуты и площадки
		p.upperline
			| 2 магазина
	.comma
		p
			| Жить за гором - это готовить ужин на гриле