.relaxation
	.relaxation-item
		.container
			h3 Товары для бани и сауны
			p.upperline
				| 2 магазина
	.relaxation-item
		.container
			h2 Место для отдыха
			p
				| Товары для шикарного отдыха и тихого дачного счастья. Более 10 магазинов, чтобы выбрать беседку для дачи, купить гриль и обустроить двор.
			p
				| Узнайте у консультантов, какой гриль лучше работает на открытов воздухе
	.relaxation-item
		.container
			h3 Грили
			p.upperline
				| 6 магазинов
	.relaxation-item
		.container
			h3 Детские батуты и площадки
			p.upperline
				| 2 мазагина
	.relaxation-item
		.container.comma-container
			p
				| Жить за гором - это готовить ужин на гриле