.decor
	.decor-item
			h2(data-name="Мебель и декор") Мебель и&nbsp;декор
			p
				| 63 магазина для обустройства дома: мебель, декор, отделочные и строительные материалы.
			p
				| В "Гарден Сити" расположены дизайн-бутики и строительные гипермаркеты.
	.decor-item
			h3 Мебель
			p.upperline
				| 17 магазинов
	.decor-item
		.up
				h3 Шторы и ковры
				p.upperline 
					| 17 магазинов
		.down
				p
					| Жить за городом - это спать в гамаке
	