.decor
	.decor-item
		.container
			h2 Мебель и декор
			p
				| 63 магазина для обустройства дома: мебель, декор, отделочные и строительные материалы.
			p
				| В "Гарден Сити" расположены дизайн-бутики и строительные гипермаркеты.
	.decor-item
		.container 
			h3 Мебель
			p.upperline
				| 17 магазинов
	.decor-item
		.up
			.container
				h3 Шторы и ковры
				p.upperline 
					| 17 магазинов
		.down
			.container
				p
					| Жить за городом - это спать в гамаке
	