@include mq("tablet", max) {
	.area {
		min-height: 1900px;
		flex-flow: column nowrap;
		.area-block {
			width: 100%;}
		.white { order: 1; height: 400px;}
		.green { order: 3; height: 300px; }
		.blue {order: 5; height: 300px; }
		.area-block:nth-of-type(4) { order: -1; height: 300px;}
		.clay {order: 2; height: 300px;}
		.area-block:last-of-type { order: 4; height: 300px; position: relative;}
	}
}