.area {
	height: 160vh;
	min-height: 1200px;
	display: flex;
	flex-flow: column wrap;
	position: relative;
	font-size: 1.375rem;
	.area-block {
		width: 50%;
	}
	// -------
	// WHITE BLOCK
	.white {
		@extend .white-block;
		overflow: hidden;
		background-color: white; 
		height: 40%;
		h2:after {
			content:" "attr(data-text)" ";} 
		p { padding-top: 20px; width: 90%;}
	}

	// -------
	// GREEN BLOCK
	.green {
		@extend .shop-block;
		background:transparent url('../img/about-area/green.jpg') center/cover no-repeat;
		height: 20%; 
		color: white;}
	// -------
	// BLUE BLOCK
	.blue {
		color: white;
		@extend .shop-block;
		background:transparent url('../img/about-area/blue.jpg') center/cover no-repeat; 
		height: 20%;}
	// --------
	// COMMA BLOCK
	.area-block:nth-of-type(4) {
		@extend .comma-block;
		background-color: $comma-bg; 
		height: 25%; 
	}
	// -------------
	// CLAY BLOCK
	.clay{
		color: white;
		@extend .shop-block;
		background:transparent url('../img/about-area/clay.jpg') center/cover no-repeat;
		height: 55%;}
	// ------
	// BOTTOM BLOCK
	.area-block:last-of-type {
		@extend .comma-block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 20%;
		width: 100%;
		background-color : $comma-bg;
	}
}
@import "_media-about-area";