@include mq("desktop", max) {
	.houses {
		height: auto;
		min-height: 1400px;
		flex-flow: column;
		.project,
		.ready-house,
		.panel-house,
		.wood-house,
		.bottom {
			width: 100%;
		}
		.ready-house,
		.project {
			height: 400px;
		}
		.panel-house,
		.wood-house,
		.bottom {
			height: 300px;
		}
		.bottom { position: relative;}

		.project { order: 1;}
		.panel-house { order: 2;}
		.ready-house { order: 3;}
		.wood-house { order: 4;}
		.bottom {order: 5;}

	}
}