@include mq("desktop", max) {
	.houses {
		height: auto;
		flex-flow: column;
		font-size       : 1rem;
		.house-block {
			width: 100%;
		}
		.left {
			height: 600px;
			.up, 
			.down {  height: 300px;}
		}
		.right {
			height: 700px;
			display: flex;
			flex-direction: column-reverse;
			.up { height: 300px;}
			.down { 
				h2 {
					font-size: 2.2rem;}
					height: 400px;}
		}
		.bottom {height: 250px;}
		.comma-block p:before {bottom: -30px;}
	}
}