.left {
		.up,
		.down {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: white;
			height: 50%;}
		.up {
			h2 {
				&:after {
				content: "Готовые";}
			}
		}
		.down {
			background: white url('../img/houses/img-left.jpg') center no-repeat;
			background-size: 100% 100%;
			.container { height: 50%; width: 40%; align-items: center;}
			h3 {
				color: white;
				&:before { border-color: white;}
			}
		}
	}