.right {
	height: 80%;
	.up,
	.down {
		display: flex;
		height: 50%;}
	.up {
		@extend .shop-block;
		background:transparent url('../img/houses/img-right.jpg') center/cover  no-repeat;
		h3 {
			color: white;
			padding: 0 5%;
			&:before { border-color: white;}
		}
	}
	.down {
		@extend .white-block;
		overflow: hidden;
		background-color: white;
		h2 {	
			&:after {
				content: " "attr(data-text)" ";
				color: #d8c280;}	
		}
	}
}