.left {
	height: 80%;
		.up,
		.down {
			display: flex;
			background-color: white;
			height: 50%;}
		.up {
			@extend .white-block;
			h2 {
				&:after {
				content: " "attr(data-text)" ";}
			}
		}
		.down {
			@extend .shop-block;
			background: white url('../img/houses/img-left.jpg') center no-repeat;
			background-size: cover;
			h3 {
				padding: 0 10%;
				color: white;
				&:before { border-color: white;}
			}
		}
	}