.houses {
	height: 160vh;
	display: flex;
	flex-flow: row wrap;
	font-size       : 1.375rem;
	.house-block {
		width: 50%;
		height: 80%;
	}
	@import "block-left";
	@import "block-right";
	@import "block-bottom";
}
@import "_media-houses";