.houses {
	height: 160vh;
	min-height: 1200px;
	display: flex;
	flex-flow: column wrap;
	font-size       : 1.375rem;
	position: relative;
	.project,
	.ready-house,
	.panel-house,
	.wood-house { 
		width: 50%;
		height: 40%;}

	.project,
	.ready-house {
		@extend .white-block;}

	.panel-house,
	.wood-house {
		@extend .shop-block;
		h3 {color: white;}
		p {color: white; &:before {border-color: white;}}
	}
	.panel-house {
		@include bg-image("houses/img-left.jpg");}
	.wood-house { 
		@include bg-image("houses/img-right.jpg");}
	.bottom { 
		@extend .comma-block;
		position: absolute;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;}
}