section.review
	.review-item.left
		.container
			h2 Что это
			p 
				| "Гарден-сити" впервые проводит выставку загородного строительства такого масштаба. 
			p
				| 14 готовых домов на выставке стоимостью от 1 млн рублей, изготовленные по типовым и персональным проектам.
			p
				| В самом торговом центре вас ждут 38 профильных магазинов с товарами для загородной жизни
	.review-item.right
		.container
			h2 Где
			.contacts
				p 
					| Пр-т Лахтинского, 85-В 
				a(href="tel:+7 913 290 83 38") +7 913 290 83 38
			
	.review-item.bottom
			p
				| Построить дом кажется трудной задачей. Так и есть. <br>
				| Купить готовый - проще!
				