@include mq("tablet-wide", max) {
	.review {
		height: auto;
		.review-item {
			padding: 100px 0;
			width: 100%;
			height: auto;
			p {font-size: 1rem;}
			h2 {font-size: 2.5rem;}
			h2:after {font-size: 4.2rem; top: -30px;}	
		}
		.container {
				width: 90%;
				height: auto;
			}
		.right {
			font-size: 0.9rem;
			background-position: 70% ;
			background-size: cover;
		}
		.bottom {
			.container {  width: 300px; height: 100%;}
			.container:before {left: 30%; bottom: -20px;}
			.container:after {top: 35%;}
		}

	}
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	.review .review-item { h2:after {font-size: 6rem; top: -30px; }}
	.review .bottom {.container:after { font-size: 240px;}}
	
}