.review {
	height          : 100vh;
	min-height      : 800px;
	flex-flow       : row wrap;
	display         : flex;
	font-size       : 1.375rem;
	.review-item {
		position        : relative;
		width           : 50%;
		height          : 70%;

		display         : flex;
		flex-flow       : column wrap;
		justify-content : center;
		align-items     : center;

		h2, p {
			position : relative;
			z-index  : 5;}

		p { 
			padding-bottom : 20px; }

	}
	// ----------
	// LEFT
	.left {
			// .container { justify-content: flex-start;  padding-top: 50px;}
			background-color : #fff1bf;
			h2:after {
				content : "Что это";
				}
		}
	// --------
	// RIGHT
	.right {
		.container { justify-content: space-between; padding-top: 50px;}
		color           : $milk;
		background      : transparent url('../img/review/location.png') center no-repeat;
		background-size : cover;
			h2 {
				&:before { border-color: $milk;}
				&:after {
				content:"Где";
				color: $dark-milk;}
			}
			p {
				font-size: 2em;}
			a {
				text-decoration : none;
				font-size       : 2em;
				cursor          : pointer;
				color           : $milk;}
	}
	// --------
	// BOTTOM
	.bottom {
		@extend .comma-block;
		width            : 100%;
		background-color : $comma-bg;
		height           : 30%;
	}
}
@import "_media-review.scss";