.review {
	height          : 100vh;
	min-height      : 800px;
	flex-flow       : row wrap;
	display         : flex;
	font-size       : 1.375rem;
	.review-item {
		position        : relative;
		width           : 50%;
		height          : 70%;

		display         : flex;
		flex-flow       : column;
		
		box-sizing: border-box;
		padding: 5% 5%;

		h2, p {
			position : relative;
			z-index  : 5;}

		p { padding-bottom : 20px; }

	}
	// ----------
	// LEFT
	.left {
			background-color : #fff1bf;
			h2:after {color: #f0dfa7;}
		}
	// --------
	// RIGHT
	.right {
		justify-content: space-between;
		color           : $milk;
		background      : transparent url('../img/review/location.png') center/cover no-repeat;
		padding-bottom: 10%;
		h2 {
			&:before { border-color: $milk;}
			&:after { color: $dark-milk;}
		}
		p {
			font-size: 2em;}
		a {
			text-decoration : none;
			font-size       : 2em;
			cursor          : pointer;
			color           : $milk;}
	}
	// --------
	// BOTTOM
	.bottom {
		@extend .comma-block;
		width            : 100%;
		background-color : $comma-bg;
		height           : 30%;
	}
}
@import "_media-review.scss";