.area 
	.area-block
		.container
			h2 Участок
			p
				| В "Гарден Сити" можно купить бани, сауны, гаражные системы и беседки для отдыха.
			p
				| Магазины с товарами  для ландшафтного дизайна помогут сделать участок удобным и уютным.
	.area-block
		.container
			h3 Гриль-домики и беседки
			p.upperline
				| 4 магазина
	.area-block
		.container
			h3 Ворота и гаражные системы
			p.upperline
				| 3 магазина
	.area-block

	.area-block
		.container
			h3 Бани и сауны
			p.upperline
				| 8 магазина