.area 
	//- #1
	.area-block
		.container
			h2 Участок
			p
				| В "Гарден Сити" можно купить бани, сауны, гаражные системы и беседки для отдыха.
			p
				| Магазины с товарами  для ландшафтного дизайна помогут сделать участок удобным и уютным.
	//- #2
	.area-block
		.container
			h3 Гриль-домики и беседки
			p.upperline
				| 4 магазина
	//- #3
	.area-block
		.container
			h3 Ворота и гаражные системы
			p.upperline
				| 3 магазина
	//- #4
	.area-block
		.container.comma-container
			p
				| Жить за городом - это выбирать между душем и баней
	//- #5
	.area-block
		.container
			h3 Бани и сауны
			p.upperline
				| 8 магазина
	//- #6
	.area-block
		.container.comma-container
			p Жить за городом - это не выгуливать собаку на поводке



