.inhouse 
	.inhouse-block.left.shop-block
			h3 Освещение
			p.upperline
				| 9 магазинов
	.inhouse-block.middle.shop-block
			h3 Сантехника
			p.upperline
				| 5 магазинов
	.inhouse-block.right.shop-block
			h3 Отопление и бассейны
			p.upperline
				| 3 магазина
