.houses
	.house-block
		.house-item
			h2 Готовые дома
			p 
				| На выставке представлены 14 собранных домов. Внутри расставлена мебель, так что вы можете оценить планировку и полезную прощадь.
		.house-item
	.house-block
		.house-item
		.house-item
			h2 Проектирование
			p 
				|На выставке можно заказать разработку персонального проекта и 3D- модель дома.
			p
				| Консультанты помогут выбрать технологию строительства и расскажут, какие деревянные дома лучше.