.houses
	.house-block.left
		.up
			.container
				h2 Готовые дома
				p 
					| На выставке представлены 14 собранных домов. Внутри расставлена мебель, так что вы можете оценить планировку и полезную прощадь.
		.down
			.container 
				h3 Каркасные и панельные дома
				p.upperline 3 магазина
	.house-block.right
			.up
				.container
					h3 Дома из бруса и бревна
					p.upperline 15 магазинов
					
			.down
				.container 
					h2 Проектирование
					p 
						| На выставке можно заказать разработку персонального проекта и 3D-модель дома.
					p
						| Консультанты помогут выбрать технологию строительства и расскажут, какие деревянные дома лучше.
	.house-block.bottom
		.container.comma-container
			p
				| Жить за городом - это не слышать за стеной соседей
	