//- .houses
//- 	.house-block.left
//- 		.up
//- 			h2(data-name="Готовые") Готовые дома
//- 			p 
//- 				| На выставке представлены 14 собранных домов. Внутри расставлена мебель, так что вы можете оценить планировку и полезную прощадь.
//- 		.down
//- 			h3 Каркасные и&nbsp;панельные дома
//- 			p.upperline 3 магазина
//- 	.house-block.right
//- 			.up
//- 				h3 Дома из бруса и&nbsp;бревна
//- 				p.upperline 15 магазинов
					
//- 			.down
//- 				h2(data-name="Проектирование") Проектирование
//- 				p 
//- 					| На выставке можно заказать разработку персонального проекта и 3D-модель дома.
//- 				p
//- 					| Консультанты помогут выбрать технологию строительства и расскажут, какие деревянные дома лучше.
//- 	.house-block.bottom
//- 			p
//- 				| Жить за городом - это не слышать за стеной соседей
//- 	

.houses 
	.project
		h2(data-name="Готовые") Готовые дома
		p 
			| На выставке представлены 14 собранных домов. Внутри расставлена мебель, так что вы можете оценить планировку и полезную прощадь.
	.panel-house
		h3 Каркасные и&nbsp;панельные дома
		p.upperline 3 магазина
	.wood-house
		h3 Дома из бруса и&nbsp;бревна
		p.upperline 15 магазинов
	.ready-house
		h2(data-name="Проектирование") Проектирование
		p 
			| На выставке можно заказать разработку персонального проекта и 3D-модель дома.
		p
			| Консультанты помогут выбрать технологию строительства и расскажут, какие деревянные дома лучше.
	.bottom
		p
			| Жить за городом &mdash; это не слышать за стеной соседей

	
