.inhouse {
	height: 80vh;
	min-height: 600px;
	display: flex;
	.left,
	.right,
	.middle {
		@extend .shop-block;
		width: 33.3%;
		height: 100%;}
	.left {
		@include bg-image("inhouse-facilities/left.jpg");
	}
	.middle {
		@include bg-image("inhouse-facilities/middle.jpg");
		color: white;
		.upperline {
			color: white;
			&:before {border-color: white;}}

	}
	.right {
		@include bg-image("inhouse-facilities/right.jpg");
		color: black;
	}
	.upperline {
		color: black;
		&:before {border-color: black;}
	}
}