.inhouse {
	height: 80vh;
	min-height: 600px;
	display: flex;
	.inhouse-block {
		display: flex;
		width: 33.3%;
		height: 100%;}
	.left {
		background:transparent url('../img/inhouse-facilities/left.jpg') center/cover no-repeat;
	}
	.middle {
		background:transparent url('../img/inhouse-facilities/middle.jpg') center/cover no-repeat;
		color: white;
		.upperline {
			color: white;
			&:before {border-color: white;}}

	}
	.right {
		background:transparent url('../img/inhouse-facilities/right.jpg') center/cover no-repeat;
		color: black;
	}
	.upperline {
		color: black;
		&:before {border-color: black;}
	}
}
@import "_media-inhouse-facilities";