.inhouse {
	height: 80vh;
	display: flex;
	.inhouse-block {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 33.3%;
		height: 100%;}
	.left {
		background:transparent url('../img/inhouse-facilities/left.jpg') left top no-repeat;
		background-size: 100% 100%;
	}
	.middle {
		background:transparent url('../img/inhouse-facilities/middle.jpg') left top no-repeat;
		background-size: 100% 100%;
		color: white;
		.upperline {
			color: white;
			&:before {border-color: white;}}

	}
	.right {
		background:transparent url('../img/inhouse-facilities/right.jpg') left top no-repeat;
		background-size: 100% 100%;
		color: black;
	}
	.container {justify-content: center; align-items: center;}
	.upperline {
		color: black;
		&:before {border-color: black;}
	}
}
@import "_media-inhouse-facilities";